#weather_left, 
#weather_right, 
#waste_right, 
#waste_left{
    margin-top: 0px !important;
}

#weather{
	max-height: 400 !important;
	width: 330 !important;
}

#weather_left{
    min-width: 330 !important;
}

#weather_right{
    max-width: 150px !important;
	min-width: 150px !important;
}

#weather-c{
	text-align: left;
	min-height: 315;
	padding-top:35px; 
	padding-left:35px;	
}

#weather_bottom_frame{
    padding-right: 210 !important;
}

#wasteCollections{
    margin-left: 155;
	max-height: 400 !important;
	max-width: 590 !important;
}

#waste_right{
    width: 100%;
}

#nextWasteCollection{
    text-align: left;
	width: 450;
	min-height: 315;
	padding-top:35px; 
	padding-left:35px;	
}

.wi{
	font-size: xxx-large;
}



