#weather_left,
#weather_right,
#waste_right,
#waste_left {
  margin-top: 0px !important;
}

#wasteCollections {
  max-height: 370px !important;
  max-width: 590px !important;
}

#waste_right {
  min-width: 450px;
  height: 100%;
}

#nextWasteCollection {
  text-align: left;
  min-width: 370px !important;
  min-height: 280px !important;
}
