#weather_left,
#weather_right,
#waste_right,
#waste_left {
  margin-top: 0px !important;
}

#columnLeft {
  width: 920px;
}

#columnRight {
}

#aboveWasteCollection {
  height: 300px;
}

#abWasteCollContent {
  height: 225px;
}

#waste_right,
#abWasteRight {
  min-width: 450px;
  height: 100%;
}

#nextWasteCollection {
  text-align: left;
  min-width: 370px !important;
  min-height: 280px !important;
}
