#wpr_viewport {
  width: 100%;
  height: 100%;
  text-align: right;
}

/* Stylesheet for BIG Screens */
@media (min-width: 1440px), (min-height: 745px) {
  header {
    min-height: 28vh !important;
  }

  #wpr_mainView > div > aside {
    background: orange;
    float: left;
    height: 80vh;
    width: 8.5%;
  }

  #wpr_mainView > div > aside > nav > a > div {
    height: 9.25vh !important;
  }
}
/* Stylesheet for small screens */
@media (max-width: 1439px), (max-height: 744px) {
  header {
    display: none !important;
  }

  #wpr_mainView > div > aside {
    background: orange;
    float: left;
    height: 100vh;
    width: 8.5%;
  }

  #wpr_mainView > div > aside > nav > a > div {
    height: 11.75vh !important;
  }
}

header .button-wrap {
  flex-wrap: wrap;
  width: 480px;
  margin-left: auto;
}

header .button-wrap a .button {
  margin-bottom: 5px;
  margin-left: 5px;
}

header .button-wrap a .button:nth-last-child(2),
header .button-wrap a .button:nth-last-child(2) ~ .button {
  margin-bottom: 0px;
}

header .title {
  width: auto;
  overflow: hidden;
  white-space: normal;
}

#wpr_mainView {
  padding: 0.3%;
}

#wpr_mainView > header > nav {
  width: 8.5%;
  overflow: visible;
}

#wpr_mainView > div > aside > nav {
  overflow: visible;
  height: inherit;
}

section {
  width: auto;
}

#wpr_centerControls {
  padding-top: 35px;
  padding-left: 35px;
}

/* #systemTime {
  margin: 10px;
} */

#logs {
  text-align: left;
  max-height: 120px !important;
}

/* .default-bracket {
  width: 305px;
  height: 255px;
  margin-bottom: 5px;
} */

header .row.frame {
  background-color: aqua;
  padding-left: 209px;
}

.main .column {
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 150px;
  overflow: visible;
}

.main .column:first-child .elbow .bar {
  width: 209px;
}

.main .row.frame {
  padding-left: 209px;
}

.main .content {
  padding-top: 35px;
  padding-left: 35px;
}

.frame .bar:nth-child(2) {
  width: 100%;
  max-width: 150px;
}

.frame .bar:nth-child(5) {
  width: 100%;
  max-width: 305px;
}

.frame .bar:nth-child(6) {
  width: 100%;
  max-width: 110px;
}

.frame .bar:nth-child(7) {
  width: 100%;
  max-width: 35px;
}

/* White Strobe */
.alertFlash .alertFlash:not(.complexButton) {
  -webkit-animation: whiteFade 0.25s linear;
  animation: whiteFade 0.25s linear;
}
.alertFlash .alertFlash.complexButton :not(.numericBlock) {
  -webkit-animation: whiteFade 0.25s linear;
  animation: whiteFade 0.25s linear;
}
@-webkit-keyframes whiteFade {
  0% {
    background-color: #ffffff;
    border-color: #ffffff;
  }
}

@keyframes whiteFade {
  0% {
    background-color: #ffffff;
    border-color: #ffffff;
  }
}

/* Static Pattern Heights */
.step-two {
  /* flex: 1;
  max-height: 125px; */
  height: 125px;
}
.step-three {
  /* flex: 2;
  max-height: 190px;
  min-height: 125px; */
  height: 190px;
}
.step-four {
  /* flex: 3;
  max-height: 255px; */
  height: 255px;
}

/* @media (max-width: 1150px), (max-height: 745px) {
  body {
    zoom: 0.75;
  }
}

@media (max-width: 860px), (max-height: 558px) {
  body {
    zoom: 0.5;
  }
} */

/* =============================================================================
   Active/Hover States. Included for optional use.
   ==========================================================================*/

.button:not(.endcap):active,
.endcap:active > .cap,
.elbow:active,
.elbow:active > .bar,
.elbow:active > .bar > .block,
.complexButton:active > *:not(.text) {
  -webkit-animation: none !important;
  animation: none !important;
  background-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  border-right-color: #ffffff !important;
  border-top-color: #ffffff !important;
  border-left-color: #ffffff !important;
  border-color: #ffffff !important;
}
.elbow:active > .bar > .block {
  background-color: transparent !important;
}

[class*="bg-"],
[class*="bg-"] > *:not([class*="bg-"]) {
  transition: background-color 0.25s linear, border 0.25s linear;
}
