body {
  margin: 0;
  font-family: "LCARS Block", -apple-system, BlinkMacSystemFont, "Segoe UI";
  letter-spacing: 0.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
